<!-- src/app/login/login.component.html -->
<form (ngSubmit)="onLoginSubmit()">
  <div class="mb-3">
    <label>Email address</label>
    <input type="email" 
           class="form-control"
           name="email"
           [(ngModel)]="credentials.email">
  </div>

  <div class="mb-3">
    <label>Password</label>
    <input type="password" 
           class="form-control"
           name="password"
           [(ngModel)]="credentials.password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>