<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error {{status}} - Bhaccasyoniztas Resort</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}  ← Partial reference
            
            <div id="contents">
                <!-- Error content -->
            </div>

            {{> footer}}  ← Partial reference
        </div>
    </div>
</body>
</html>