<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Bhaccasyoniztas Resort</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}
            
            <div id="contents">
                <div class="box">
                    <div class="body">
                        <div class="hero">
                            <h1>Welcome to Bhaccasyoniztas Beach Resort</h1>
                            <p>Experience luxury amidst nature's beauty</p>
                        </div>
                        
                        <div class="featured">
                            <h2>Featured Packages</h2>
                            <div class="card-container">
                                <div class="trip-card">
                                    <a href="/travel" class="card-link">
                                        <img src="/images/reef1.jpg" alt="Featured Trip">
                                        <h3>Explore Our Travel Packages</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</body>
</html>